# User-specific configuration
config.yaml
.env

# Client Development Artifacts
*/*_modules/
client/public

# Server Development Artifacts
.coverage
.cache
server/**/lib/
server/**/bin/
server/**/pyvenv.cfg
server/.pdm-python
server/.venv/
__pycache__/
